<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Application for Explore Restaurant">
    <title>Catalog Resto App</title>
    <link rel="shortcut icon" type="image/x-icon" href="/src/public/images/icon/applogo.png">
</head>

<body>
    <a href="#maincontent" class="skip-link">Skip to content</a>
    <header class="header">
        <nav-bar></nav-bar>
        <!-- Hero -->
        <div class="hero">
            <img src="./images/heros/hero-image_1.jpg" alt="hero">
            <div class="hero__inner">
                <h1 class="hero__title">Catalog Resto Application</h1>
                <p class="hero__tagline">The chief pleasure in eating does not consist in costly seasoning, or exquisite
                    flavor, but in yourself.</p>
            </div>
        </div>
    </header>

    <main id="maincontent">
        <section class="content">
            <h2 class="explore">Restaurant List</h2>
            <div class="list" id="dataCard"></div>
        </section>
    </main>

    <footer>
        <p>Copyright © 2021 - Catalog Resto App</p>
    </footer>
</body>

</html>